.DS_Store

application/cache/*
!application/cache/index.html

/old_61125/*

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*


# IDE Files
#-------------------------
/nbproject/
.idea/*

*application_0811.zip
*application_281125_old.zip
*assets_281125_old.zip
*final_destination_before_revision.zip
*old_tak_tau_kapan.zip

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
